.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:94px;
}

.row{
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding:50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #8481a8;
    color: #fff;

    margin-top: 12px;
    border-radius: 30px;

}
.btn:hover{
    background: #663737;
}
.pq{
    text-align: right;
}
.logo{

    color:rgba(100, 100, 100, 0.5);
}

header .row{
    margin-top: 70px;
}

.col-3{
    flex:30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width:100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    width: 100%;
}

h4{
    color:rgb(0, 0, 0);
    font-weight: normal;
}
.col-4 p{
    font-s4ize:14px;
}
.rating .fa{
    color: crimson;
}
.col-4:hover{
    transform: translateY(-5px);
}

<!-----Single product details----->

.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;

}

.single-product h33 {
    font-size: 22px;
}

.single-product h2{
    font-size:28px;
    font-weight: bold;
}
.single-product p{
    font-size: 16px;
}
h2{
    padding-top: 34px;
}
.single-product p1{
    font-size: 25px;
    font-weight: normal;
}


.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none
}
.single-product .fa{
    color: #ff523b;
}

